* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(22, 22, 22);
}

@media screen and (min-width: 1830px) {
	.navSlash {
		position: absolute;
		right: 660px;
		height: 2px;
		width: 85px;
		transform: rotate(135deg);
		background-color: rgba(3, 220, 248, 0.884);
	}
}

@media screen and (min-width: 1690px) {
	nav {
		background-color: rgb(20, 20, 20);
		font-size: x-large;
		height: 60px;
		border-bottom: 2px inset rgba(3, 220, 248, 0.884);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav ul {
		width: 1100px;
		display: flex;
		justify-content: space-evenly;
		list-style: none;
	}

	nav a {
		color: rgb(255, 255, 255);
		text-decoration-line: none;
		font-family: Georgia, 'Times New Roman', Times, serif;
		padding: 5px 8px;
	}

	nav a:hover {
		color: rgb(3, 220, 248);
	}

	nav form {
		display: flex;
		justify-content: flex-end;
	}

	#burger-menu {
		display: none;
	}

	#menu-checkbox {
		display: none;
	}

	#login-form {
		position: absolute;
		right: 200px;
		width: 500px;
		height: 40px;
	}

	#txt-user,
	#txt-pass,
	#login-button,
	#logout-button,
	#login-form label {
		margin-left: 7px;
	}

	#login-form label {
		font-size: 14px;
	}

	#login-button,
	#logout-button {
		height: 19px;
		margin-top: 16px;
		padding: 0 3px;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 900 !important;
		border: 1px solid black;
		border-radius: 3px;
	}

	#pop-out {
		fill: white;
		position: absolute;
		right: 140px;
	}

	#pop-out:hover {
		fill: rgb(3, 220, 248);
	}

	#switch {
		opacity: 0;
		position: absolute;
	}

	#switch:checked + .theme-label .ball {
		transform: translateX(35px);
	}

	.toggle-container {
		margin-right: 50px;
	}

	.theme-label {
		position: relative;
		height: 29px;
		width: 64px;
		padding: 3px;
		border-radius: 29px;
		border: 2px solid rgb(3, 220, 248);
		background-color: rgb(71, 71, 71);
		display: flex;
		justify-content: space-between;
		align-items: center;
		animation-name: theme-btn-glow;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes theme-btn-glow {
		0% {
			box-shadow: 0 0 3px 1px rgb(3, 220, 248);
		}
		10% {
			box-shadow: 0 0 4px 2px rgb(3, 220, 248);
		}
		20% {
			box-shadow: 0 0 5px 3px rgb(3, 220, 248);
		}
		30% {
			box-shadow: 0 0 6px 4px rgb(3, 220, 248);
		}
		40% {
			box-shadow: 0 0 7px 5px rgb(3, 220, 248);
		}
		50% {
			box-shadow: 0 0 8px 6px rgb(3, 220, 248);
		}
		60% {
			box-shadow: 0 0 7px 5px rgb(3, 220, 248);
		}
		70% {
			box-shadow: 0 0 6px 4px rgb(3, 220, 248);
		}
		80% {
			box-shadow: 0 0 5px 3px rgb(3, 220, 248);
		}
		90% {
			box-shadow: 0 0 4px 2px rgb(3, 220, 248);
		}
		100% {
			box-shadow: 0 0 3px 1px rgb(3, 220, 248);
		}
	}

	.ball {
		position: absolute;
		top: 2px;
		left: 2px;
		height: 21px;
		width: 21px;
		border-radius: 50%;
		background-color: black;
		transition: transform linear;
	}

	#sun,
	#moon {
		fill: rgb(255, 255, 255);
	}
}

@media screen and (max-width: 1689px) {
	nav {
		position: relative;
		background-color: rgb(20, 20, 20);
		font-size: x-large;
		height: 60px;
		border-bottom: 2px inset rgba(3, 220, 248, 0.884);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav a {
		color: rgb(255, 255, 255);
		text-decoration-line: none;
		font-family: Georgia, 'Times New Roman', Times, serif;
		padding: 5px 8px;
	}

	nav a:hover {
		color: rgb(3, 220, 248);
	}

	nav form {
		display: flex;
		justify-content: flex-end;
	}

	#burger-container {
		margin-left: 15px;
	}

	#burger-menu {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	#menu-checkbox {
		position: absolute;
		top: 5px;
		left: 15px;
		width: 60px;
		height: 50px;
		z-index: 1;
		opacity: 0;
	}

	#menu-checkbox:hover {
		cursor: pointer;
	}

	#menu-checkbox:hover + #burger-menu .burger-line {
		background-color: rgb(3, 220, 248);
	}

	.burger-line {
		display: inline-block;
		height: 5px;
		width: 50px;
		margin: 5px;
		background-color: rgb(255, 255, 255);
		border-radius: 3px;
		transition: transform linear 0.2s;
	}

	#menu-checkbox:checked + #burger-menu .burger-line:nth-child(1) {
		transform: rotate(45deg);
		position: absolute;
		top: 0px;
	}

	#menu-checkbox:checked + #burger-menu .burger-line:nth-child(2) {
		opacity: 0;
	}

	#menu-checkbox:checked + #burger-menu .burger-line:nth-child(3) {
		transform: rotate(135deg);
		position: absolute;
		top: 0px;
	}

	.nav-list {
		display: inline-flex;
		flex-direction: column;
		justify-content: space-around;
		list-style: none;
		position: absolute;
		top: 58px;
		left: -270px;
		height: 150px;
		background-color: rgb(22, 22, 22);
		border: 2px solid rgba(3, 220, 248, 0.884);
		border-top: none;
		transition: transform linear 0.2s;
	}

	#menu-checkbox:checked ~ .nav-list {
		transform: translateX(268px);
	}

	#login-form {
		position: absolute;
		right: 200px;
		width: 500px;
		height: 29px;
	}

	#txt-user,
	#txt-pass,
	#login-button,
	#logout-button {
		display: none;
		margin-left: 7px;
	}

	#login-button,
	#logout-button {
		padding: 0 3px;
		font-family: 'Roboto', sans-serif;
		font-size: 14px;
		font-weight: 900 !important;
		border: 1px solid black;
		border-radius: 3px;
	}

	#pop-out {
		display: none;
	}

	#switch {
		opacity: 0;
		position: absolute;
	}

	#switch:checked + .theme-label .ball {
		transform: translateX(35px);
	}

	.toggle-container {
		margin-right: 50px;
	}

	.theme-label {
		position: relative;
		height: 29px;
		width: 64px;
		padding: 3px;
		border-radius: 29px;
		border: 2px solid rgb(3, 220, 248);
		background-color: rgb(71, 71, 71);
		display: flex;
		justify-content: space-between;
		align-items: center;
		animation-name: theme-btn-glow;
		animation-duration: 2.5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes theme-btn-glow {
		0% {
			box-shadow: 0 0 3px 1px rgb(3, 220, 248);
		}
		10% {
			box-shadow: 0 0 4px 2px rgb(3, 220, 248);
		}
		20% {
			box-shadow: 0 0 5px 3px rgb(3, 220, 248);
		}
		30% {
			box-shadow: 0 0 6px 4px rgb(3, 220, 248);
		}
		40% {
			box-shadow: 0 0 7px 5px rgb(3, 220, 248);
		}
		50% {
			box-shadow: 0 0 8px 6px rgb(3, 220, 248);
		}
		60% {
			box-shadow: 0 0 7px 5px rgb(3, 220, 248);
		}
		70% {
			box-shadow: 0 0 6px 4px rgb(3, 220, 248);
		}
		80% {
			box-shadow: 0 0 5px 3px rgb(3, 220, 248);
		}
		90% {
			box-shadow: 0 0 4px 2px rgb(3, 220, 248);
		}
		100% {
			box-shadow: 0 0 3px 1px rgb(3, 220, 248);
		}
	}

	.ball {
		position: absolute;
		top: 2px;
		left: 2px;
		height: 21px;
		width: 21px;
		border-radius: 50%;
		background-color: black;
		transition: transform linear;
	}

	#sun,
	#moon {
		fill: rgb(255, 255, 255);
	}
}

form div {
	padding-right: 6px;
}

form label {
	color: rgb(211, 211, 211);
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
}

#checkrows input:hover,
#checkrows button:hover {
	box-shadow: 0 0 2px 2px rgb(3, 220, 248);
}

#checkrows input:focus,
#checkrows button:focus {
	outline: none;
	border: 1px solid rgb(3, 220, 248) !important;
	box-shadow: 0 0 2px 2px rgb(3, 220, 248), 0 0 3px 0px rgb(0, 0, 0) inset;
}

#main-row input,
#main-row button {
	height: 35px;
	background-color: rgb(255, 255, 255) !important;
	border-radius: 3px;
	font-size: 15px;
	color: black !important;
}

#overlay {
	position: fixed;
	display: none;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	height: 100%;
	width: 100%;
	z-index: 1;
}

#hidden-menu {
	position: relative;
	left: 246px;
	bottom: 40px;
	visibility: hidden;
	width: 136px;
	height: 30px;
	padding: 3px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 3px;
	background-color: rgb(255, 255, 255);
	z-index: 2;
}

#hidden-menu button {
	width: 40px;
	height: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 900 !important;
	background-color: white;
	border-radius: 3px;
	font-size: 13px;
}

#menu-toggle {
	width: 70px;
	margin-left: 3px;
	margin-right: 3px;
}

.successSubmitToaster {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 10px;
	top: 70px;
	height: 40px;
	width: 90px;
	background-color: rgb(0, 121, 0);
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: large;
	color: rgb(255, 255, 255);
	border: 2px solid rgb(255, 255, 255);
	box-shadow: 0 0 2px 1px rgb(255, 255, 255);
	border-radius: 7px;
	animation: opacity 1s;
}

.failSubmitToaster {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 10px;
	top: 70px;
	height: 40px;
	width: 90px;
	background-color: rgb(75, 1, 1);
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: large;
	color: rgb(255, 255, 255);
	border: 2px solid rgb(255, 255, 255);
	box-shadow: 0 0 2px 1px rgb(255, 255, 255);
	border-radius: 7px;
	animation: opacity 1s;
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#row-manipulator {
	width: 100%;
	padding-left: 219px;
	margin-top: 5px;
	margin-bottom: 20px;
}

#row-manipulator button {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 900 !important;
	background-color: white !important;
	color: black !important;
	border: 1px solid black;
	border-radius: 3px;
	margin-left: 2px;
	padding: 0 3px;
	height: 25px;
}

.table-row {
	height: 20px;
	margin-top: 3px;
}

section form input[type='text'] {
	border-radius: 2px;
	text-indent: 2px;
	height: 20px;
	width: 200px;
}

#checkrows input,
#checkrows span,
#checkrows button {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

section form input[type='number'] {
	text-indent: 2px;
	font-size: 15px;
}

.counter {
	height: 100%;
	width: 21px;
	align-self: flex-end;
	text-align: center;
	padding: 0 2px;
	margin: 0 3px;
	font-size: 15px;
}

.target {
	height: 100%;
	width: 40px;
	align-self: flex-end;
	text-align: left;
	margin: 0 3px 0 6px;
}

.submitButton {
	height: 100%;
	width: 60px;
	align-self: flex-end;
	margin-left: 3px;
}

#checkrows form:nth-child(odd) input,
#checkrows form:nth-child(odd) span,
#checkrows form:nth-child(odd) button,
tbody tr:nth-child(even) td,
.l-decoration:nth-child(even) {
	background-color: rgb(22, 22, 22);
	color: rgb(170, 170, 170);
	border: 1px solid rgb(63, 63, 63);
}

#checkrows form:nth-child(even) input,
#checkrows form:nth-child(even) span,
#checkrows form:nth-child(even) button,
tbody tr:nth-child(odd) td,
.l-decoration:nth-child(odd) {
	background-color: rgb(110, 110, 110);
	color: rgb(0, 0, 0);
	border: 1px solid rgb(59, 59, 59);
}

#checkrows form span {
	color: rgb(201, 201, 201) !important;
	border: 1px solid rgb(148, 142, 142) !important;
}

.highlight-this {
	border-radius: 2px;
	height: 20px;
	border: 1px solid black;
}

.highlighted-row {
	box-shadow: 0 0 2px 1px rgb(3, 220, 248);
}

.container {
	width: 1200px;
}

#db-body {
	height: 100vh;
}

#db-form div input,
#db-form button,
#new-casino,
#new-table,
#add-table,
#add-casino {
	height: 35px;
	font-size: larger;
	border: 1px solid black;
	background-color: rgb(231, 231, 231);
	border-radius: 2px;
}

#tracking-from,
#tracking-to {
	width: 150px;
}

#tracking-name,
#tracking-platform,
#tracking-casino {
	width: 200px;
}

#tracking-button {
	width: 100px;
	justify-content: center;
}

#db-data {
	margin-top: 50px;
	width: 1030px;
}

#db-data tbody {
	background-color: rgb(46, 46, 46);
	border: 1px double rgb(77, 77, 77);
}

tbody {
	height: 600px;
	overflow-y: scroll;
}

td:nth-child(even) {
	margin-left: 2px;
	margin-right: 2px;
}

td {
	border: 1px solid rgb(63, 63, 63);
	width: 20%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-align: center;
	margin-top: 2px;
}

tbody tr td:first-child {
	margin-left: 2px;
}

tbody tr td:last-child {
	margin-right: 2px;
}

thead tr td {
	height: 34px;
	margin-bottom: 5px;
	font-size: larger;
	color: rgb(211, 211, 211);
	background-color: rgb(0, 0, 0);
	line-height: 34px;
	font-weight: bolder;
	border: 1px solid rgb(77, 77, 77);
}

thead tr td:first-child {
	width: 209px;
}

thead tr td:last-child {
	width: 226px;
}

.flex {
	display: flex;
}

.flex-grow {
	flex-grow: 1;
}

.vertical {
	flex-direction: column;
}

.jc-c {
	justify-content: center;
}

.jc-fs {
	justify-content: flex-start;
}

.jc-sb {
	justify-content: space-between;
}

.jc-se {
	justify-content: space-evenly;
}

.jc-sa {
	justify-content: space-around;
}

.js-c {
	justify-self: center;
}

.js-fe {
	justify-self: flex-end;
}

.ai-c {
	align-items: center;
}

.ai-fe {
	align-items: flex-end;
}

.ai-fs {
	align-items: flex-start;
}

.as-fe {
	align-self: flex-end;
}

.vh100 {
	height: 100vh;
}

.ls-none {
	list-style: none;
}

.l-decoration {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid rgb(153, 151, 151);
	margin: 2px 0;
	padding-left: 2px;
}

.empty-value {
	outline-color: red !important;
}

.invalid {
	background-color: rgb(151, 0, 0) !important;
}

.valid {
	background-color: rgb(1, 133, 1) !important;
	box-shadow: 0 0 2px 2px rgb(3, 220, 248) !important;
}

button:hover {
	box-shadow: 0 0 2px 1px rgb(3, 220, 248);
}
